In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ahipara,NZ,2021-03-28 00:58:34,-35.1667,173.1667,67.66,85,100,11.72
1,1,Teguise,ES,2021-03-28 00:58:34,29.0605,-13.5640,64.40,82,20,4.61
2,2,Santa Rosa,PH,2021-03-28 00:58:35,14.3122,121.1114,87.01,62,20,3.44
3,3,Lahaina,US,2021-03-28 00:58:35,20.8783,-156.6825,82.40,57,40,23.02
4,4,Lebu,CL,2021-03-28 00:58:36,-37.6167,-73.6500,56.14,86,0,18.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Santa Rosa,PH,2021-03-28 00:58:35,14.3122,121.1114,87.01,62,20,3.44
3,3,Lahaina,US,2021-03-28 00:58:35,20.8783,-156.6825,82.40,57,40,23.02
8,8,Campina Verde,BR,2021-03-28 00:58:37,-19.5356,-49.4864,76.53,50,29,2.59
9,9,Veraval,IN,2021-03-28 00:58:38,20.9000,70.3667,77.94,52,52,10.25
11,11,Bambous Virieux,MU,2021-03-28 00:58:38,-20.3428,57.7575,77.00,94,75,5.75
17,17,Galveston,US,2021-03-28 00:58:40,29.3669,-94.9669,75.00,83,90,11.50
18,18,Georgetown,MY,2021-03-28 00:56:25,5.4112,100.3354,82.40,94,20,2.30
24,24,Rikitea,PF,2021-03-28 00:58:43,-23.1203,-134.9692,79.48,72,0,17.65
27,27,Atuona,PF,2021-03-28 00:53:50,-9.8000,-139.0333,81.19,75,100,19.37
30,30,Bambanglipuro,ID,2021-03-28 00:56:58,-7.9500,110.2833,81.54,76,53,1.90

In [12]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2        Santa Rosa      PH     87.01  14.3122  121.1114
3           Lahaina      US     82.40  20.8783 -156.6825
8     Campina Verde      BR     76.53 -19.5356  -49.4864
9           Veraval      IN     77.94  20.9000   70.3667
11  Bambous Virieux      MU     77.00 -20.3428   57.7575
17        Galveston      US     75.00  29.3669  -94.9669
18       Georgetown      MY     82.40   5.4112  100.3354
24          Rikitea      PF     79.48 -23.1203 -134.9692
27           Atuona      PF     81.19  -9.8000 -139.0333
30    Bambanglipuro      ID     81.54  -7.9500  110.2833

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Santa Rosa,PH,87.01,14.3122,121.1114,Erlyn’s Sta Rosa City Home
3,Lahaina,US,82.40,20.8783,-156.6825,Lahaina Shores Beach Resort
8,Campina Verde,BR,76.53,-19.5356,-49.4864,Hotel Lino
9,Veraval,IN,77.94,20.9000,70.3667,Lords Inn Somnath
11,Bambous Virieux,MU,77.00,-20.3428,57.7575,Casa Tia Villa
17,Galveston,US,75.00,29.3669,-94.9669,Comfort Inn & Suites Texas City
18,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
24,Rikitea,PF,79.48,-23.1203,-134.9692,Pension Maro'i
27,Atuona,PF,81.19,-9.8000,-139.0333,Villa Enata
30,Bambanglipuro,ID,81.54,-7.9500,110.2833,Puri Brata

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))