## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,79.72,clear sky,-23.1203,-134.9692,Pension Maro'i
1,11,Pitimbu,BR,77.00,few clouds,-7.4706,-34.8086,Reserva do Abiaí
2,13,Busselton,AU,82.35,broken clouds,-33.6500,115.3333,Observatory Guest House
3,15,Nortelandia,BR,73.72,few clouds,-14.4547,-56.8028,Hotel Karysmã
4,21,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Desdunes")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Desdunes")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Bani")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Pedernales")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Jacmel")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
208,669,Desdunes,HT,76.8,clear sky,19.2955,-72.646,Tèmitan

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])
stop2

(18.0384, -71.744)

In [63]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,669,Desdunes,HT,76.80,clear sky,19.2955,-72.6460,Tèmitan
1,224,Bani,DO,75.00,clear sky,18.2833,-70.3333,Hospedaje Henriquez
2,522,Pedernales,DO,78.53,clear sky,18.0384,-71.7440,Hotel Costa Marina
3,511,Jacmel,HT,80.60,clear sky,18.2342,-72.5347,Hotel Florita

In [65]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [66]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))